@import '../../../../variables';

.radar-chart__wrapper {
    @include increase-shadow-block-default;
    @include center-flex-column;
    padding: 30px;
    border-radius: 50px;
    padding: 20px;
    width: 25vw;

    &:hover {
        @include increase-shadow-block-hover;
    }

    .radar-chart__title, .radar-chart__text {
        color: white;
    }
}

@media screen and (max-width: 1100px) {
    .radar-chart__wrapper {
        @include center-flex-column;
        @include increase-shadow-block-disabled;
        @include width-mobile;
        min-height: 70vh;

        &:hover {
            @include increase-shadow-block-hover-disabled;
        }

        .radar-chart__title {
            @include center-flex-column;
            @include center-text;
        }
    }
}
