@import '../../../variables';

.list-chart__wrapper {
    @extend %flex-row;
    width: 100%;
    min-height: 100vh;
    align-items: start;
    justify-content: space-around;
    background-color: $color-grey-background;
}

.line-chart__item, .pie-chart__item {
    margin: 75px;
}