@import '../../../../../variables';

.bar-chart__wrapper {
    @extend %increase-shadow-block-default;
    @extend %center-flex-column;
    padding: 30px;
    border-radius: 50px;
    padding: 20px;
    width: 25vw;
    &:hover {
        @extend %increase-shadow-block-hover;
    }
}