@import '../../../../variables';

.line-chart__wrapper  {
    @extend %increase-shadow-block-default;
    @extend %center-flex-column;
    padding: 30px;
    border-radius: 50px;
    width: 31vw;

    @media screen and (max-width: 900px) {
        width: 85%;
    }

    &:hover {
        @extend %increase-shadow-block-hover;
    }

    .line-chart__temp {
        background-color: $color-grey-background-chart;
        max-height: 60%;
    }
}
