@import '../../../../variables';

.line-chart__wrapper  {
    @include increase-shadow-block-default;
    @include center-flex-column;
    padding: 30px;
    border-radius: 50px;
    width: 31vw;

    &:hover {
        @include increase-shadow-block-hover;
    }

    .line-chart__temp {
        background-color: $color-grey-background-chart;
        max-height: 60%;
    }
}

@media screen and (max-width: 1100px) {
    .line-chart__wrapper {
        @include center-flex-column;
        @include increase-shadow-block-disabled;
        @include width-mobile;
        padding: 20px 10px;
        
        &:hover {
            @include increase-shadow-block-hover-disabled;
        }

        .graphic__wrapper {
            

            .line-chart__temp {
                @include center-flex-column;

            }
        }
    }
}
